<div class="mat-elevation-z8">
<table mat-table [dataSource]=ProductsList> 
<ng-container matcolumndef = "id">
<th mat-header-cell *matHeaderCellDef>id</th>
<td mat-cell *matCellDef="let x"> {{x.id}}</td>
</ng-container>


<ng-container matcolumndef='ProductName'>
<th mat-header-cell *matHeaderCellDef>productname</th>
<td mat-cell *matCellDef="let P">{{ P.Product_Name }}</td> 
</ng-container>

<!-- price column -->
<ng-container matColumnDef="price">
<th mat-header-cell *matHeaderCellDef>Price</th>
<td mat-cell *matCellDef="let pr">{{pr.price }}  </td> 
</ng-container>

<!-- Action buttons -->
<ng-container matColumnDef = "ACTION">
<th mat-header-cell *matHeaderCellDef>Action</th>
<td mat-cell *matCellDef="let iTem">
<a routerLink="/Products/Update/{{iTem.id}}" class=editbtn>
<i class="material-icons">edit</i> </a>
<a routerLink="/Products/Delete/{{iTem.id}}"class=deleteBtn>
<i class="material-icons"> delete_forever </i> </a> 
</td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns "></tr> 
<tr mat-row *matRowDef="let item;columns:displayedColumns"></tr> 
</table>
</div>
